body {
	background-image: url(img/dv.jpg);
	background-size: cover;

}

.great {

	margin-left: 34%;
	margin-top: 12%;
}

.link {
	margin-left: 34%;
	
}

a {
	color: black;
}

.satu {
	font-size: 27px;
}

.tiga {
	font-size: 25px;
}
